# Advanced Aggregates

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the DVD Rental database.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.


**NOTE**: These queries are more complex that the others.
If you get stuck on one, skip and come back to it later.

**NOTE**: For this notebook, it is desired that you construct solutions using advanced aggregates and derived tables.

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

### 1
### What is the average, variance, and standard deviation of the film length?

In [2]:
%%sql
EXPLAIN
SELECT avg(length), variance(length), stddev(length)
FROM film;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[('Aggregate  (cost=71.51..71.52 rows=1 width=96)',),
 ('  ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=2)',)]

In [3]:
%%sql
SELECT avg(length), variance(length), stddev(length)
FROM film;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(Decimal('115.2720000000000000'), Decimal('1634.2883043043043043'), Decimal('40.4263318185598470'))]

### 2
### What is the average, variance, and standard deviation of the film length; broken down by film category.

In [4]:
%%sql
EXPLAIN
SELECT avg(film.length), variance(film.length), stddev(film.length), category.name
FROM film 
JOIN film_category USING(film_id)
JOIN category USING(category_id)
GROUP BY category.name;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
11 rows affected.

[('HashAggregate  (cost=109.81..110.09 rows=16 width=164)',),
 ('  Group Key: category.name',),
 ('  ->  Hash Join  (cost=77.86..99.81 rows=1000 width=70)',),
 ('        Hash Cond: (film_category.category_id = category.category_id)',),
 ('        ->  Hash Join  (cost=76.50..95.14 rows=1000 width=4)',),
 ('              Hash Cond: (film_category.film_id = film.film_id)',),
 ('              ->  Seq Scan on film_category  (cost=0.00..16.00 rows=1000 width=4)',),
 ('              ->  Hash  (cost=64.00..64.00 rows=1000 width=6)',),
 ('                    ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=6)',),
 ('        ->  Hash  (cost=1.16..1.16 rows=16 width=72)',),
 ('              ->  Seq Scan on category  (cost=0.00..1.16 rows=16 width=72)',)]

In [5]:
%%sql
SELECT  category.name, avg(film.length), variance(film.length), stddev(film.length)
FROM film 
JOIN film_category USING(film_id)
JOIN category USING(category_id)
GROUP BY category.name;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
16 rows affected.

[('Family', Decimal('114.7826086956521739'), Decimal('1523.2314578005115090'), Decimal('39.0285979481778401')),
 ('Games', Decimal('127.8360655737704918'), Decimal('1262.4726775956284153'), Decimal('35.5312915272668975')),
 ('Animation', Decimal('111.0151515151515152'), Decimal('1723.0920745920745921'), Decimal('41.5101442371870661')),
 ('Classics', Decimal('111.6666666666666667'), Decimal('1475.2261904761904762'), Decimal('38.4086733756347080')),
 ('Documentary', Decimal('108.7500000000000000'), Decimal('1814.6679104477611940'), Decimal('42.5989191229984284')),
 ('New', Decimal('111.1269841269841270'), Decimal('1514.7900665642601126'), Decimal('38.9203040399771301')),
 ('Sports', Decimal('128.2027027027027027'), Decimal('1796.4651980747871159'), Decimal('42.3847283591010775')),
 ('Children', Decimal('109.8000000000000000'), Decimal('1500.9084745762711864'), Decimal('38.7415600431406374')),
 ('Music', Decimal('113.6470588235294118'), Decimal('1787.3129411764705882'), Decimal('42.2766240513178936')),
 ('Travel', Decimal('113.3157894736842105'), Decimal('1540.1842105263157895'), Decimal('39.2451807299484326')),
 ('Foreign', Decimal('121.6986301369863014'), Decimal('1861.9079147640791476'), Decimal('43.1498309934590491')),
 ('Drama', Decimal('120.8387096774193548'), Decimal('1658.3997884717080910'), Decimal('40.7234550163871544')),
 ('Horror', Decimal('112.4821428571428571'), Decimal('1388.6905844155844156'), Decimal('37.2651389963271761')),
 ('Action', Decimal('111.6093750000000000'), Decimal('1848.3687996031746032'), Decimal('42.9926598340132313')),
 ('Sci-Fi', Decimal('108.1967213114754098'), Decimal('1315.6273224043715847'), Decimal('36.2715773354891693')),
 ('Comedy', Decimal('115.8275862068965517'), Decimal('1781.3381730187537810'), Decimal('42.2059021111829072'))]

[Helpful Hints Video](https://youtu.be/jy9H2KLI4Iw)

### 3
### A movie's "cumulative rented duration" is the sum of all rentals from rental table.  What is the average _cumulative rented duration_ per store (inventory.store_id).

In [6]:
%%sql
EXPLAIN
SELECT AVG(return_date - rental_date) , store_id
FROM film 
JOIN inventory  ON (film.film_id = inventory.film_id)
JOIN rental   ON (rental.inventory_id = inventory.inventory_id)
GROUP BY store_id

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
11 rows affected.

[('HashAggregate  (cost=719.80..719.82 rows=2 width=18)',),
 ('  Group Key: inventory.store_id',),
 ('  ->  Hash Join  (cost=204.57..599.47 rows=16044 width=18)',),
 ('        Hash Cond: (inventory.film_id = film.film_id)',),
 ('        ->  Hash Join  (cost=128.07..480.67 rows=16044 width=20)',),
 ('              Hash Cond: (rental.inventory_id = inventory.inventory_id)',),
 ('              ->  Seq Scan on rental  (cost=0.00..310.44 rows=16044 width=20)',),
 ('              ->  Hash  (cost=70.81..70.81 rows=4581 width=8)',),
 ('                    ->  Seq Scan on inventory  (cost=0.00..70.81 rows=4581 width=8)',),
 ('        ->  Hash  (cost=64.00..64.00 rows=1000 width=4)',),
 ('              ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=4)',)]

In [7]:
%%sql
SELECT AVG(return_date - rental_date) , store_id
FROM film 
JOIN inventory  ON (film.film_id = inventory.film_id)
JOIN rental  ON (rental.inventory_id = inventory.inventory_id)
GROUP BY store_id

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[(datetime.timedelta(days=5, seconds=3138, microseconds=43673), 1),
 (datetime.timedelta(days=5, seconds=1262, microseconds=570361), 2)]

[Helpful Hints Video](https://youtu.be/Scyn7exzUcY)

### 4
### Which three categories of film have the highest average number of actors per film?

In [4]:
%%sql
EXPLAIN
SELECT tbl.category_name,AVG(tbl.actors) AS avg_actors
FROM (
SELECT c.name AS category_name,f.title, COUNT(*) AS actors FROM film f
JOIN film_category fc ON fc.film_id = f.film_id
JOIN category c ON fc.category_id = c.category_id
JOIN film_actor fa ON fa.film_id = f.film_id
GROUP BY c.name,f.title
)
AS tbl
GROUP BY category_name
ORDER BY 2 DESC
LIMIT 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
20 rows affected.

[('Limit  (cost=454.63..454.64 rows=3 width=100)',),
 ('  ->  Sort  (cost=454.63..455.13 rows=200 width=100)',),
 ('        Sort Key: (avg((count(*)))) DESC',),
 ('        ->  HashAggregate  (cost=449.55..452.05 rows=200 width=100)',),
 ('              Group Key: c.name',),
 ('              ->  HashAggregate  (cost=313.00..367.62 rows=5462 width=91)',),
 ('                    Group Key: c.name, f.title',),
 ('                    ->  Hash Join  (cost=112.31..272.03 rows=5462 width=83)',),
 ('                          Hash Cond: (fa.film_id = fc.film_id)',),
 ('                          ->  Seq Scan on film_actor fa  (cost=0.00..84.62 rows=5462 width=2)',),
 ('                          ->  Hash  (cost=99.81..99.81 rows=1000 width=89)',),
 ('                                ->  Hash Join  (cost=77.86..99.81 rows=1000 width=89)',),
 ('                                      Hash Cond: (fc.category_id = c.category_id)',),
 ('                                      ->  Hash Join  (cost=76.50..95.14 rows=1000 width=23)',),
 ('                                            Hash Cond: (fc.film_id = f.film_id)',),
 ('                                            ->  Seq Scan on film_category fc  (cost=0.00..16.00 rows=1000 width=4)',),
 ('                                            ->  Hash  (cost=64.00..64.00 rows=1000 width=19)',),
 ('                                                  ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=19)',),
 ('                                      ->  Hash  (cost=1.16..1.16 rows=16 width=72)',),
 ('                                            ->  Seq Scan on category c  (cost=0.00..1.16 rows=16 width=72)',)]

In [3]:
%%sql
SELECT tbl.category_name,AVG(tbl.actors) AS avg_actors
FROM (
SELECT c.name AS category_name,f.title, COUNT(*) AS actors FROM film f
JOIN film_category fc ON fc.film_id = f.film_id
JOIN category c ON fc.category_id = c.category_id
JOIN film_actor fa ON fa.film_id = f.film_id
GROUP BY c.name,f.title
)
AS tbl
GROUP BY category_name
ORDER BY 2 DESC
LIMIT 3

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
3 rows affected.

[('Sports', Decimal('6.0410958904109589')),
 ('Drama', Decimal('5.7377049180327869')),
 ('Children', Decimal('5.7333333333333333'))]

### 5
### For each staff member, list their average daily payment amount processed.

In [10]:
%%sql
EXPLAIN
SELECT tbl.staff_id, AVG(tbl.sum_daily_payment) AS AVG_daily_payment
FROM (SELECT s.staff_id, p.payment_date::date, SUM(p.amount) AS sum_daily_payment FROM staff s
JOIN payment p USING(staff_id)
GROUP BY s.staff_id, p.payment_date::date) tbl
GROUP BY tbl.staff_id
ORDER BY staff_id;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
11 rows affected.

[('Sort  (cost=968.49..968.99 rows=200 width=36)',),
 ('  Sort Key: s.staff_id',),
 ('  ->  HashAggregate  (cost=958.35..960.85 rows=200 width=36)',),
 ('        Group Key: s.staff_id',),
 ('        ->  HashAggregate  (cost=520.47..739.41 rows=14596 width=40)',),
 ('              Group Key: s.staff_id, (p.payment_date)::date',),
 ('              ->  Hash Join  (cost=1.04..411.00 rows=14596 width=14)',),
 ('                    Hash Cond: (p.staff_id = s.staff_id)',),
 ('                    ->  Seq Scan on payment p  (cost=0.00..253.96 rows=14596 width=16)',),
 ('                    ->  Hash  (cost=1.02..1.02 rows=2 width=4)',),
 ('                          ->  Seq Scan on staff s  (cost=0.00..1.02 rows=2 width=4)',)]

In [8]:
%%sql

SELECT tbl.staff_id, AVG(tbl.sum_daily_payment) AS AVG_daily_payment
FROM (SELECT s.staff_id, p.payment_date::date, SUM(p.amount) AS sum_daily_payment FROM staff s
JOIN payment p USING(staff_id)
GROUP BY s.staff_id, p.payment_date::date) tbl
GROUP BY tbl.staff_id
ORDER BY staff_id;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[(1, Decimal('945.3787500000000000')), (2, Decimal('970.6225000000000000'))]

### 6
### What is the statistical correlation between film length and rental rate?

In [12]:
%%sql
EXPLAIN
SELECT corr(length,rental_rate)
FROM film

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
2 rows affected.

[('Aggregate  (cost=71.50..71.51 rows=1 width=8)',),
 ('  ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=8)',)]

In [13]:
%%sql

SELECT corr(length,rental_rate)
FROM film

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(0.0297892586459086,)]

[Helpful Hints Video](https://youtu.be/3d2vgLn9KVs)

# Save your Notebook, then `File > Close and Halt`